#srcNodeRef{
  top: 0px;
  position: absolute;
}

.row{
 /* width: 80%;
  height: 30%;*/
  position: absolute;
  
}

tr.spaceUnder > td {
 padding-bottom: 1em;
}

tr.spaceChart > td {
 padding-bottom: 3em;
}

#layerChooserNode {
 max-width: 70%;
}

