tr.spaceUnder > td {
 padding-bottom: 0.6em;
 padding-right: 3em;
}

canvas {
  border: 1px dotted lightgrey;
}

.chart-container {
  position: relative;
  margin: auto;
  padding-top: 0.6em;
}

#executeJimuButton {
  background: #24B5CC;
  line-height: 25px;
}

#executeJimuButton:hover {
  background-color: #0090A7; 
}
